In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder

## Input data

In [2]:
df = pd.read_csv('./Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
X, y = df.drop(['Exited'], axis=1), df['Exited']

## Preprocessing data

In [7]:
geography_encoder = LabelEncoder()
gender_encoder = LabelEncoder()

In [8]:
X['Geography'] = geography_encoder.fit_transform(X['Geography'])

In [9]:
X['Gender'] = gender_encoder.fit_transform(X['Gender'])

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [11]:
X['Geography'].unique()

array([0, 2, 1])

In [12]:
one_hot_encoder = OneHotEncoder(categorical_features=[1])

In [13]:
X_encoded = one_hot_encoder.fit_transform(X).toarray()

In [14]:
X_encoded[0]

array([1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.1900000e+02,
       0.0000000e+00, 4.2000000e+01, 2.0000000e+00, 0.0000000e+00,
       1.0000000e+00, 1.0000000e+00, 1.0000000e+00, 1.0134888e+05])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.3, random_state=101)

In [16]:
scaler = MinMaxScaler()

In [17]:
scaled_X_train = scaler.fit_transform(X_train)

In [18]:
print(X_train[0])
print(scaled_X_train[0])

[0.0000000e+00 0.0000000e+00 1.0000000e+00 5.1100000e+02 0.0000000e+00
 2.9000000e+01 9.0000000e+00 0.0000000e+00 2.0000000e+00 0.0000000e+00
 1.0000000e+00 1.4067698e+05]
[0.         0.         1.         0.322      0.         0.14864865
 0.9        0.         0.33333333 0.         1.         0.70347065]

In [19]:
scaled_X_test = scaler.transform(X_test)

In [20]:
scaled_X_test[0]

array([0.        , 0.        , 1.        , 0.538     , 1.        ,
       0.45945946, 0.8       , 0.        , 0.33333333, 1.        ,
       1.        , 0.61627849])

## Model

In [21]:
def get_classifier():
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(24, activation='relu', input_dim=12))
    model.add(tf.keras.layers.Dropout(0.1))
    model.add(tf.keras.layers.Dense(32, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.1))
    model.add(tf.keras.layers.Dense(12, activation='relu'))
    model.add(tf.keras.layers.Dense(2, activation='softmax'))
    model.compile(
        optimizer='adam',
        loss='sparse_categorical_crossentropy',
        metrics=['accuracy']
    )
    return model

In [22]:
model = get_classifier()

In [23]:
model.fit(scaled_X_train, y_train, epochs=50)

Epoch 1/50
7000/7000 [==============================]7000/7000 [==============================] - 1s 83us/step - loss: 0.5073 - acc: 0.7950

Epoch 2/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 70us/step - loss: 0.4656 - acc: 0.7979

Epoch 3/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 62us/step - loss: 0.4538 - acc: 0.8039

Epoch 4/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 62us/step - loss: 0.4407 - acc: 0.8073

Epoch 5/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 52us/step - loss: 0.4305 - acc: 0.8149

Epoch 6/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.4183 - acc: 0.8203

Epoch 7/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 62us/step - loss: 0.4086 - acc: 0.8266

Epoch 8/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3920 - acc: 0.8377

Epoch 9/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3839 - acc: 0.8396

Epoch 10/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3779 - acc: 0.8397

Epoch 11/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3739 - acc: 0.8437

Epoch 12/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3685 - acc: 0.8446

Epoch 13/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3643 - acc: 0.8474

Epoch 14/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3665 - acc: 0.8466

Epoch 15/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3607 - acc: 0.8536

Epoch 16/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 65us/step - loss: 0.3648 - acc: 0.8509

Epoch 17/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3642 - acc: 0.8469

Epoch 18/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3635 - acc: 0.8503

Epoch 19/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.3595 - acc: 0.8519

Epoch 20/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3622 - acc: 0.8524

Epoch 21/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3576 - acc: 0.8480

Epoch 22/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3560 - acc: 0.8507

Epoch 23/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3592 - acc: 0.8524

Epoch 24/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3528 - acc: 0.8529

Epoch 25/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3536 - acc: 0.8554

Epoch 26/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.3557 - acc: 0.8517

Epoch 27/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3551 - acc: 0.8533

Epoch 28/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3527 - acc: 0.8544

Epoch 29/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3540 - acc: 0.8510

Epoch 30/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3533 - acc: 0.8524

Epoch 31/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3502 - acc: 0.8527

Epoch 32/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 57us/step - loss: 0.3544 - acc: 0.8543

Epoch 33/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 63us/step - loss: 0.3543 - acc: 0.8547

Epoch 34/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 61us/step - loss: 0.3519 - acc: 0.8539

Epoch 35/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 58us/step - loss: 0.3504 - acc: 0.8559

Epoch 36/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.3493 - acc: 0.8537

Epoch 37/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3480 - acc: 0.8560

Epoch 38/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.3461 - acc: 0.8546

Epoch 39/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3483 - acc: 0.8593

Epoch 40/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3495 - acc: 0.8577

Epoch 41/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3460 - acc: 0.8566

Epoch 42/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 55us/step - loss: 0.3463 - acc: 0.8581

Epoch 43/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 53us/step - loss: 0.3466 - acc: 0.8563

Epoch 44/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3475 - acc: 0.8570

Epoch 45/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 62us/step - loss: 0.3468 - acc: 0.8554

Epoch 46/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 60us/step - loss: 0.3401 - acc: 0.8596

Epoch 47/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 50us/step - loss: 0.3442 - acc: 0.8580

Epoch 48/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 51us/step - loss: 0.3451 - acc: 0.8571

Epoch 49/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 56us/step - loss: 0.3457 - acc: 0.8547

Epoch 50/50
7000/7000 [==============================]7000/7000 [==============================] - 0s 54us/step - loss: 0.3418 - acc: 0.8606

## Prediction

In [24]:
y_pred = model.predict(scaled_X_test)

In [25]:
y_pred

array([[0.9809176 , 0.01908247],
       [0.96836925, 0.03163073],
       [0.623644  , 0.37635595],
       ...,
       [0.98996454, 0.01003543],
       [0.49396327, 0.5060367 ],
       [0.57035345, 0.42964652]], dtype=float32)

In [26]:
from sklearn.metrics import classification_report

In [27]:
y_pred = [np.argmax(x) for x in y_pred]

In [28]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.87      0.96      0.92      2378
          1       0.76      0.47      0.58       622

avg / total       0.85      0.86      0.85      3000

So should we say goodbye to that customer ?

```
Geography: France
Credit Score: 600
Gender: Male
Age: 40 years old
Tenure: 3 years
Balance: $60000
Number of Products: 2
Does this customer have a credit card ? Yes
Is this customer an Active Member: Yes
Estimated Salary: $50000
```

In [29]:
geography_encoder.transform(['France'])

array([0])

In [30]:
gender_encoder.transform(['Male'])

array([1])

In [31]:
print(X.iloc[0])
print(X.iloc[0].values)

CreditScore           619.00
Geography               0.00
Gender                  0.00
Age                    42.00
Tenure                  2.00
Balance                 0.00
NumOfProducts           1.00
HasCrCard               1.00
IsActiveMember          1.00
EstimatedSalary    101348.88
Name: 0, dtype: float64
[6.1900000e+02 0.0000000e+00 0.0000000e+00 4.2000000e+01 2.0000000e+00
 0.0000000e+00 1.0000000e+00 1.0000000e+00 1.0000000e+00 1.0134888e+05]

In [32]:
new_data = np.array([
    600,
    geography_encoder.transform(['France']),
    gender_encoder.transform(['Male']),
    40,
    3,
    60000,
    2,
    1,
    1,
    50000
])

In [33]:
new_data = one_hot_encoder.transform([new_data]).toarray()

In [34]:
print(new_data)

[[1.e+00 0.e+00 0.e+00 6.e+02 1.e+00 4.e+01 3.e+00 6.e+04 2.e+00 1.e+00
  1.e+00 5.e+04]]

In [35]:
model.predict(new_data)

array([[0., 1.]], dtype=float32)

In [36]:
y_pred = [np.argmax(x) for x in model.predict(new_data)]

In [37]:
y_pred

[1]

In [38]:
classifier = tf.keras.wrappers.scikit_learn.KerasClassifier(build_fn=get_classifier, batch_size=12, epochs=50)

In [39]:
accuracies = cross_val_score(estimator=classifier, X=scaled_X_train, y=y_train, cv=2)

Epoch 1/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 206us/step - loss: 0.4996 - acc: 0.7794

Epoch 2/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 133us/step - loss: 0.4737 - acc: 0.8003

Epoch 3/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 137us/step - loss: 0.4617 - acc: 0.8003

Epoch 4/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 135us/step - loss: 0.4590 - acc: 0.8009

Epoch 5/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 122us/step - loss: 0.4478 - acc: 0.8066

Epoch 6/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 167us/step - loss: 0.4453 - acc: 0.8091

Epoch 7/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 137us/step - loss: 0.4377 - acc: 0.8109

Epoch 8/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 156us/step - loss: 0.4261 - acc: 0.8203

Epoch 9/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 127us/step - loss: 0.4218 - acc: 0.8243

Epoch 10/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 160us/step - loss: 0.4117 - acc: 0.8246

Epoch 11/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 145us/step - loss: 0.3971 - acc: 0.8403

Epoch 12/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 132us/step - loss: 0.3939 - acc: 0.8366

Epoch 13/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3857 - acc: 0.8397

Epoch 14/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3808 - acc: 0.8414

Epoch 15/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3719 - acc: 0.8486

Epoch 16/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 159us/step - loss: 0.3753 - acc: 0.8480

Epoch 17/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 159us/step - loss: 0.3755 - acc: 0.8423

Epoch 18/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 141us/step - loss: 0.3683 - acc: 0.8480

Epoch 19/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 155us/step - loss: 0.3641 - acc: 0.8497

Epoch 20/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 156us/step - loss: 0.3634 - acc: 0.8520

Epoch 21/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3596 - acc: 0.8460

Epoch 22/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 165us/step - loss: 0.3652 - acc: 0.8460

Epoch 23/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3588 - acc: 0.8483

Epoch 24/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3618 - acc: 0.8463

Epoch 25/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 160us/step - loss: 0.3556 - acc: 0.8523

Epoch 26/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 155us/step - loss: 0.3574 - acc: 0.8471

Epoch 27/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 150us/step - loss: 0.3545 - acc: 0.8491

Epoch 28/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 142us/step - loss: 0.3561 - acc: 0.8534

Epoch 29/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 149us/step - loss: 0.3554 - acc: 0.8546

Epoch 30/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 149us/step - loss: 0.3539 - acc: 0.8529

Epoch 31/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 165us/step - loss: 0.3506 - acc: 0.8526

Epoch 32/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 150us/step - loss: 0.3565 - acc: 0.8529

Epoch 33/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 148us/step - loss: 0.3489 - acc: 0.8543

Epoch 34/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 158us/step - loss: 0.3520 - acc: 0.8483

Epoch 35/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 159us/step - loss: 0.3502 - acc: 0.8520

Epoch 36/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 159us/step - loss: 0.3472 - acc: 0.8554

Epoch 37/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 144us/step - loss: 0.3445 - acc: 0.8537

Epoch 38/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 136us/step - loss: 0.3488 - acc: 0.8563

Epoch 39/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 163us/step - loss: 0.3479 - acc: 0.8543

Epoch 40/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 150us/step - loss: 0.3486 - acc: 0.8543

Epoch 41/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 114us/step - loss: 0.3406 - acc: 0.8583

Epoch 42/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.3403 - acc: 0.8540

Epoch 43/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 123us/step - loss: 0.3417 - acc: 0.8597

Epoch 44/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3440 - acc: 0.8560

Epoch 45/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 113us/step - loss: 0.3397 - acc: 0.8554

Epoch 46/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.3388 - acc: 0.8566

Epoch 47/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 109us/step - loss: 0.3393 - acc: 0.8560

Epoch 48/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.3424 - acc: 0.8543

Epoch 49/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 108us/step - loss: 0.3429 - acc: 0.8537

Epoch 50/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3383 - acc: 0.8589

3500/3500 [==============================]3500/3500 [==============================] - 0s 62us/step

Epoch 1/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 198us/step - loss: 0.4903 - acc: 0.8014

Epoch 2/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.4667 - acc: 0.8014

Epoch 3/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.4550 - acc: 0.8049

Epoch 4/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 113us/step - loss: 0.4500 - acc: 0.8083

Epoch 5/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 111us/step - loss: 0.4405 - acc: 0.8126

Epoch 6/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 115us/step - loss: 0.4391 - acc: 0.8166

Epoch 7/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 113us/step - loss: 0.4287 - acc: 0.8183

Epoch 8/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 110us/step - loss: 0.4295 - acc: 0.8260

Epoch 9/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 109us/step - loss: 0.4253 - acc: 0.8206

Epoch 10/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 109us/step - loss: 0.4217 - acc: 0.8297

Epoch 11/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 111us/step - loss: 0.4117 - acc: 0.8286

Epoch 12/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 124us/step - loss: 0.4141 - acc: 0.8331

Epoch 13/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.4056 - acc: 0.8320

Epoch 14/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 119us/step - loss: 0.4015 - acc: 0.8323

Epoch 15/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.4010 - acc: 0.8354

Epoch 16/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 120us/step - loss: 0.3963 - acc: 0.8380

Epoch 17/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 122us/step - loss: 0.3975 - acc: 0.8369

Epoch 18/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3930 - acc: 0.8383

Epoch 19/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3864 - acc: 0.8377

Epoch 20/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 115us/step - loss: 0.3818 - acc: 0.8417

Epoch 21/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3808 - acc: 0.8406

Epoch 22/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 130us/step - loss: 0.3741 - acc: 0.8449

Epoch 23/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 123us/step - loss: 0.3780 - acc: 0.8406

Epoch 24/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 122us/step - loss: 0.3686 - acc: 0.8471

Epoch 25/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 127us/step - loss: 0.3732 - acc: 0.8440

Epoch 26/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 127us/step - loss: 0.3690 - acc: 0.8463

Epoch 27/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 118us/step - loss: 0.3630 - acc: 0.8511

Epoch 28/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 114us/step - loss: 0.3648 - acc: 0.8483

Epoch 29/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 111us/step - loss: 0.3628 - acc: 0.8494

Epoch 30/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 111us/step - loss: 0.3603 - acc: 0.8520

Epoch 31/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 122us/step - loss: 0.3597 - acc: 0.8543

Epoch 32/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 129us/step - loss: 0.3555 - acc: 0.8554

Epoch 33/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 124us/step - loss: 0.3523 - acc: 0.8597

Epoch 34/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 128us/step - loss: 0.3503 - acc: 0.8589

Epoch 35/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 136us/step - loss: 0.3475 - acc: 0.8574

Epoch 36/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 136us/step - loss: 0.3511 - acc: 0.8540

Epoch 37/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 124us/step - loss: 0.3512 - acc: 0.8583

Epoch 38/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 116us/step - loss: 0.3440 - acc: 0.8594

Epoch 39/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 119us/step - loss: 0.3532 - acc: 0.8543

Epoch 40/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 121us/step - loss: 0.3468 - acc: 0.8589

Epoch 41/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 129us/step - loss: 0.3440 - acc: 0.8583

Epoch 42/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 125us/step - loss: 0.3513 - acc: 0.8569

Epoch 43/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 127us/step - loss: 0.3438 - acc: 0.8600

Epoch 44/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 124us/step - loss: 0.3403 - acc: 0.8600

Epoch 45/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 119us/step - loss: 0.3407 - acc: 0.8609

Epoch 46/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 130us/step - loss: 0.3416 - acc: 0.8597

Epoch 47/50
3500/3500 [==============================]3500/3500 [==============================] - 0s 137us/step - loss: 0.3424 - acc: 0.8594

Epoch 48/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 176us/step - loss: 0.3510 - acc: 0.8577

Epoch 49/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 199us/step - loss: 0.3412 - acc: 0.8600

Epoch 50/50
3500/3500 [==============================]3500/3500 [==============================] - 1s 194us/step - loss: 0.3386 - acc: 0.8586

3500/3500 [==============================]3500/3500 [==============================] - 0s 93us/step

In [40]:
accuracies.mean()

0.849857144185475

In [41]:
accuracies.std()

0.0027142855439867275