# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

%matplotlib inline

In [2]:
census = pd.read_csv('census_data.csv')

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
census['income_bracket'] = census['income_bracket'].apply(
    lambda x: 0 if x == ' <=50K' else 1
)

In [6]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [7]:
X_data = census.drop('income_bracket', axis=1)
y_true = census['income_bracket']

### Perform a Train Test Split on the Data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    X_data,
    y_true,
    test_size=0.3,
    random_state=101
)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [9]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [10]:
census['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [11]:
census['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [12]:
census['marital_status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [13]:
census['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [14]:
census['native_country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [15]:
workclass = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=10),
    dimension=10
)
education = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=20),
    dimension=20
)
marital_status = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=10),
    dimension=10
)
occupation = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=50),
    dimension=50
)
relationship = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_vocabulary_list('relationship', vocabulary_list=[
        'Wife',
        'Own-child',
        'Husband',
        'Not-in-family',
        'Other-relative',
        'Unmarried'
    ]),
    dimension=6
)
race = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_vocabulary_list('race', vocabulary_list=[
        'White',
        'Asian-Pac-Islander',
        'Amer-Indian-Eskimo',
        'Other',
        'Black'
    ]),
    dimension=5
)
gender = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_vocabulary_list('gender', vocabulary_list=[
        'Female','Male'
    ]),
    dimension=2
)
native_country = tf.feature_column.embedding_column(
    tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=200),
    dimension=200
)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [16]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [17]:
feat_cols = [
    age, workclass, education, education_num, marital_status,
    occupation, relationship, race, gender, capital_gain,
    capital_loss, hours_per_week, native_country
]

In [18]:
len(feat_cols)

13

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [19]:
train_input_func = tf.estimator.inputs.pandas_input_fn(
    X_train,
    y_train,
    num_epochs=1000,
    batch_size=10,
    shuffle=True
)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [20]:
model = tf.estimator.DNNClassifier(
    hidden_units=[13, 10, 10, 2],
    feature_columns=feat_cols
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x10e689b70>, '_task_type': 'worker', '_task_id': 0, '_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [21]:
model.train(input_fn=train_input_func, steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg/model.ckpt.
INFO:tensorflow:loss = 6.740345, step = 1
INFO:tensorflow:global_step/sec: 245.223
INFO:tensorflow:loss = 7.781148, step = 101 (0.408 sec)
INFO:tensorflow:global_step/sec: 388.069
INFO:tensorflow:loss = 3.0705392, step = 201 (0.258 sec)
INFO:tensorflow:global_step/sec: 427.46
INFO:tensorflow:loss = 5.6536007, step = 301 (0.234 sec)
INFO:tensorflow:global_step/sec: 421.34
INFO:tensorflow:loss = 3.9228349, step = 401 (0.237 sec)
INFO:tensorflow:global_step/sec: 422.122
INFO:tensorflow:loss = 3.7242873, step = 501 (0.237 sec)
INFO:tensorflow:global_step/sec: 397.276
INFO:tensorflow:loss = 2.570519, step = 601 (0.252 sec)
INFO:tensorflow:global_step/sec: 396.024
INFO:tensorflow:loss = 4.1018224, step = 701 (0.253 sec)
INFO:tensorflow:global_step/sec: 429.694
INFO:tensorflow:loss = 4.455829, step = 801 (0.233 sec)
INFO:tensorflow:global_step/sec: 428.031
INFO:tensorflow:loss = 4.35372, step = 901 (0.234 sec)
INFO:tensorflow:global_step/sec: 378.782
INFO:tensorflow:loss = 1.170367, step = 1001 (0.264 sec)
INFO:tensorflow:global_step/sec: 405.811
INFO:tensorflow:loss = 1.7380419, step = 1101 (0.246 sec)
INFO:tensorflow:global_step/sec: 425.87
INFO:tensorflow:loss = 3.7331748, step = 1201 (0.235 sec)
INFO:tensorflow:global_step/sec: 404.845
INFO:tensorflow:loss = 4.654111, step = 1301 (0.247 sec)
INFO:tensorflow:global_step/sec: 427.611
INFO:tensorflow:loss = 3.6965942, step = 1401 (0.234 sec)
INFO:tensorflow:global_step/sec: 409.397
INFO:tensorflow:loss = 4.494221, step = 1501 (0.244 sec)
INFO:tensorflow:global_step/sec: 428.592
INFO:tensorflow:loss = 3.8879223, step = 1601 (0.233 sec)
INFO:tensorflow:global_step/sec: 415.317
INFO:tensorflow:loss = 1.4225411, step = 1701 (0.241 sec)
INFO:tensorflow:global_step/sec: 280.168
INFO:tensorflow:loss = 2.5623155, step = 1801 (0.358 sec)
INFO:tensorflow:global_step/sec: 342.482
INFO:tensorflow:loss = 2.6524186, step = 1901 (0.291 sec)
INFO:tensorflow:global_step/sec: 350.71
INFO:tensorflow:loss = 2.0654798, step = 2001 (0.285 sec)
INFO:tensorflow:global_step/sec: 361.674
INFO:tensorflow:loss = 3.6567662, step = 2101 (0.277 sec)
INFO:tensorflow:global_step/sec: 286.139
INFO:tensorflow:loss = 2.8484948, step = 2201 (0.350 sec)
INFO:tensorflow:global_step/sec: 277.242
INFO:tensorflow:loss = 5.236682, step = 2301 (0.361 sec)
INFO:tensorflow:global_step/sec: 335.713
INFO:tensorflow:loss = 9.271172, step = 2401 (0.297 sec)
INFO:tensorflow:global_step/sec: 397.529
INFO:tensorflow:loss = 4.0179725, step = 2501 (0.252 sec)
INFO:tensorflow:global_step/sec: 283.906
INFO:tensorflow:loss = 4.652545, step = 2601 (0.353 sec)
INFO:tensorflow:global_step/sec: 273.84
INFO:tensorflow:loss = 4.8962073, step = 2701 (0.366 sec)
INFO:tensorflow:global_step/sec: 403.877
INFO:tensorflow:loss = 3.7790847, step = 2801 (0.246 sec)
INFO:tensorflow:global_step/sec: 327.327
INFO:tensorflow:loss = 6.0438075, step = 2901 (0.306 sec)
INFO:tensorflow:global_step/sec: 247.925
INFO:tensorflow:loss = 3.6020985, step = 3001 (0.405 sec)
INFO:tensorflow:global_step/sec: 345.209
INFO:tensorflow:loss = 7.037315, step = 3101 (0.287 sec)
INFO:tensorflow:global_step/sec: 402.426
INFO:tensorflow:loss = 4.408534, step = 3201 (0.248 sec)
INFO:tensorflow:global_step/sec: 305.581
INFO:tensorflow:loss = 5.020628, step = 3301 (0.329 sec)
INFO:tensorflow:global_step/sec: 285.085
INFO:tensorflow:loss = 3.0899134, step = 3401 (0.350 sec)
INFO:tensorflow:global_step/sec: 369.122
INFO:tensorflow:loss = 5.1587887, step = 3501 (0.270 sec)
INFO:tensorflow:global_step/sec: 376.438
INFO:tensorflow:loss = 3.3573055, step = 3601 (0.265 sec)
INFO:tensorflow:global_step/sec: 374.355
INFO:tensorflow:loss = 1.3561742, step = 3701 (0.268 sec)
INFO:tensorflow:global_step/sec: 411.13
INFO:tensorflow:loss = 3.0142884, step = 3801 (0.243 sec)
INFO:tensorflow:global_step/sec: 427.861
INFO:tensorflow:loss = 4.5972733, step = 3901 (0.234 sec)
INFO:tensorflow:global_step/sec: 420.057
INFO:tensorflow:loss = 5.126575, step = 4001 (0.238 sec)
INFO:tensorflow:global_step/sec: 389.517
INFO:tensorflow:loss = 5.67665, step = 4101 (0.257 sec)
INFO:tensorflow:global_step/sec: 424.63
INFO:tensorflow:loss = 3.7840557, step = 4201 (0.235 sec)
INFO:tensorflow:global_step/sec: 426.092
INFO:tensorflow:loss = 6.4460793, step = 4301 (0.235 sec)
INFO:tensorflow:global_step/sec: 419.683
INFO:tensorflow:loss = 2.1911654, step = 4401 (0.238 sec)
INFO:tensorflow:global_step/sec: 396.018
INFO:tensorflow:loss = 2.7634408, step = 4501 (0.253 sec)
INFO:tensorflow:global_step/sec: 424.746
INFO:tensorflow:loss = 2.3766794, step = 4601 (0.236 sec)
INFO:tensorflow:global_step/sec: 425.535
INFO:tensorflow:loss = 4.192599, step = 4701 (0.235 sec)
INFO:tensorflow:global_step/sec: 412.727
INFO:tensorflow:loss = 5.539346, step = 4801 (0.242 sec)
INFO:tensorflow:global_step/sec: 418.936
INFO:tensorflow:loss = 4.4167404, step = 4901 (0.239 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg/model.ckpt.
INFO:tensorflow:Loss for final step: 3.2455075.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [22]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(
    X_test,
    shuffle=False
)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [23]:
result = list(model.predict(pred_input_func))

INFO:tensorflow:Restoring parameters from /var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg/model.ckpt-5000

** Each item in your list will look like this: **

In [24]:
pred_result = [re['class_ids'][0] for re in result]
print(pred_result[:10])
print(list(y_test[:10]))

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [25]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(
    X_test,
    y_test,
    batch_size=10,
    shuffle=False
)

In [26]:
model.evaluate(eval_input_func)

INFO:tensorflow:Starting evaluation at 2018-02-16-07:37:39
INFO:tensorflow:Restoring parameters from /var/folders/0q/36d1fl0d3n1537ld143pvb0r0000gn/T/tmp8ivvjxlg/model.ckpt-5000
INFO:tensorflow:Finished evaluation at 2018-02-16-07:37:43
INFO:tensorflow:Saving dict for global step 5000: accuracy = 0.81850755, accuracy_baseline = 0.7611833, auc = 0.8713205, auc_precision_recall = 0.70232916, average_loss = 0.36841658, global_step = 5000, label/mean = 0.23881666, loss = 3.6837888, prediction/mean = 0.23962916

{'accuracy': 0.81850755,
 'accuracy_baseline': 0.7611833,
 'auc': 0.8713205,
 'auc_precision_recall': 0.70232916,
 'average_loss': 0.36841658,
 'global_step': 5000,
 'label/mean': 0.23881666,
 'loss': 3.6837888,
 'prediction/mean': 0.23962916}

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [27]:
from sklearn.metrics import classification_report

In [28]:
print(classification_report(y_test, pred_result))

             precision    recall  f1-score   support

          0       0.89      0.86      0.88      7436
          1       0.61      0.67      0.64      2333

avg / total       0.83      0.82      0.82      9769

# Great Job!